conda activate kimchi-py
export PYTHONPATH=${PWD}:${PWD}/src/:${PWD}/.pypy/:${CONDA_PREFIX}/lib/python2.7/site-packages/
export PATH=${PATH}:${CONDA_PREFIX}/bin/
conda activate interpreter-py
# weird venv pytest
# alias pytest="${CONDA_PREFIX}/bin/py.test"
# alias pytest="/Users/kimchi/opt/anaconda3/bin/py.test-2.7"